configuration {
	display-drun:   "";
	display-run:    "execute";
	display-window: "window";
	show-icons:     false;
    theme : "arc"; 
    lines: 5;
   }

window {
	location:	 center;
	anchor:		 center;
	//height:		 15%;
	width:		 25%;
	orientation: horizontal;
}


