configuration {
	font: "Iosevka 14"; 
	show-icons: true;
}

@theme "/usr/share/rofi/themes/Arc-Dark.rasi"
window {
	transparency:     "real";
	border:           2px;
	border-radius:    10px;
	padding:          10px;
}
